aiohappyeyeballs==2.6.1 ; python_version >= "3.13"
aiohttp==3.13.3 ; python_version >= "3.13"
aiosignal==1.4.0 ; python_version >= "3.13"
attrs==25.4.0 ; python_version >= "3.13"
audioop-lts==0.2.2 ; python_version >= "3.13"
discord-py==2.6.4 ; python_version >= "3.13"
frozenlist==1.8.0 ; python_version >= "3.13"
idna==3.11 ; python_version >= "3.13"
multidict==6.7.1 ; python_version >= "3.13"
propcache==0.4.1 ; python_version >= "3.13"
python-dotenv==1.2.1 ; python_version >= "3.13"
yarl==1.22.0 ; python_version >= "3.13"
